.article-nav{
    background-color: #cfcfcf;
}
.article-nav ul{
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: left;
    align-items: center;
}
.article-nav li{
    list-style: none;
}
.article-nav li a{
    color: #000;
    text-decoration: none;
}
.inputforms{
    display: flex;
    justify-content: center;
    align-items: center;
}

#article{
    padding: 0 10px;
    /* box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.3); */
}
.activearticle{
    background-color: #fff;
}
.createform{
    background: #fff;
}
.article-body-input{
    display: flex;
    margin: 20px 0;
}
.article-body-input .article-title{
    width: 20%;
    display: flex;
    align-items: center;
    padding-right: 15px;
}
.article-body-input .article-input{
    width: 80%;
}
